.git/
.gitignore
docker-compose.yml
Dockerfile
Makefile
logs/
storage/
node_modules/
vendor/
.env
*.md
*.txt
*.log
Dockerfile*
docker-compose*
.dockerignore
.gitlab-ci.yml
.travis.yml
.github/
.idea/
.vscode/
